parameters:
	level: 8
	paths:
		- src/
		- tests/
	ignoreErrors:
		-
			message: '#Parameter .+ expects .+, .+ given#'
			path: tests
		-
			message: '#Method.+jsonSerialize.+no value type specified in iterable type array.#'
			path: src
		-
			# Needed for backward compatibility
			message: '#VersionNumber::fromValue\(\)#'
			identifier: missingType.parameter
			path: src/Firebase/RemoteConfig/VersionNumber.php
		-
			# Needed since introducing phpstan/strict-rules, will revisit for next major release
			message: '#Dynamic call to static method PHPUnit#'
			identifier: staticMethod.dynamicCall
			path: tests

	checkUninitializedProperties: true

	checkTooWideReturnTypesInProtectedAndPublicMethods: true
	reportAlwaysTrueInLastCondition: true
	reportPossiblyNonexistentConstantArrayOffset: true
	treatPhpDocTypesAsCertain: false
includes:
	- vendor/cuyz/valinor/qa/PHPStan/valinor-phpstan-configuration.php
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
