<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    beStrictAboutOutputDuringTests="true"
    bootstrap="tests/bootstrap.php"
    colors="true"
>
    <testsuites>
        <testsuite name="unit">
            <directory>tests/Unit</directory>
        </testsuite>

        <testsuite name="integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>

    <coverage ignoreDeprecatedCodeUnits="true"/>

    <source restrictDeprecations="true">
        <include>
            <directory>src/Firebase</directory>
        </include>

        <exclude>
            <!-- The Dynamic Links Component ist deprecated and the tests are brittle -->
            <directory>src/Firebase/DynamicLink</directory>
        </exclude>
    </source>

    <php>
        <ini name="date.timezone" value="UTC" />
    </php>
</phpunit>
