GOOGLE_APPLICATION_CREDENTIALS=
FIREBASE_TENANT_ID=
TEST_FIREBASE_APP_ID=
# You can find the URI of your Realtime Database at https://console.firebase.google.com/u/0/project/_/database
TEST_FIREBASE_RTDB_URI=
TEST_FIREBASE_TENANT_ID=
TEST_REGISTRATION_TOKENS=
# Add a custom Firestore Database at https://console.firebase.google.com/u/0/project/_/firestore/ first
TEST_FIRESTORE_CUSTOM_DB_NAME=
